<h1>
  Department #<%= @department.id %> details
</h1>

<a href="/departments/<%= @department.id %>/edit">
  Edit department
</a>

<hr>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @department.name %>
  </dd>
</dl>

<a href="/delete_department/<%= @department.id %>">
  Delete department
</a>

<hr>

<a href="/departments">
  Go back
</a>

<h4 class="pt-4">Courses</h4>
<div class="list-group">
    <% @courses.each do |course| %>
    <a href="/courses/<%= course.id %>" class="list-group-item"><%= course.title %></a>
    <% end %>
</div>

<h4 class="pt-4">Add a new course</h4>
<form action="/create_course" method="post" class="mb-5">
  <!-- Label and input for title -->
  <div class="form-group">
    <label for="title">
      Title
    </label>

    <input type="text" id="title" name="title" class="form-control" value="">
  </div>

  <!-- Label and input for department -->
  <input type="hidden" name="department_id" value="<%= @department.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create course
  </button>
</form>
